version: "3"

services:

  app:
    build:
      context: .
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py wait_for_db &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./:/app
      - ./media:/app/media
    ports: [ "8000:8000" ]
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    env_file:
      - .env
    volumes:
      - my_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  my_db: